.wrapper {
    display: grid;
    grid-gap: 20px;
}


.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

@media (max-width: 700px) {
    .main-nav ul {
        grid-template-columns: 1fr;
    }
}